/* Write your CSS code in this file */
* {
  box-sizing: border-box;
  /*background-color: dimgray;*/
}

.intro {
  display: flexbox;
  flex-direction: row;
  /*align-items: center;*/
  text-align: center;
  justify-content: center;
  padding: 10px;
  border: 5px outset red;
  color: rgb(12, 90, 90);
  background-image: url("https://images.pexels.com/photos/1314543/pexels-photo-1314543.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  font-size: larger;
  border-radius: 25%;
}

/*#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;*/

 .form {
  display: flexbox;
  flex-direction: row;
  text-align: center;
  font-size: xx-large;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2em;
  background-image: url("https://images.pexels.com/photos/356079/pexels-photo-356079.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  color: rgb(169, 235, 16);
  background-color: rgb(153, 48, 74);
  border: 2px outset rgb(228, 69, 95);
  justify-content: flex-start;
  border-radius: 25%;
}
  
.hints {
    color:darkred;
    font-size: larger;
}
 /*p {
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1em;
  color: blue;
  background-color: rgb(20, 245, 20);
  border: 2px solid black;
  justify-content: flex-start;
}
